<footer class="fixed-bottom bg-white shadow-m-above">
  <nav class="container d-flex justify-content-evenly py-4">
    <!-- 訊息（原本 message.html → 改成 ai-triage.html） -->
    <a
      href="ai-triage.html"
      class="d-flex flex-column align-items-center nav-item-message"
    >
      <img src="../assets/images/bottom-tab-icon-message.svg" alt="" />
      <p class="lh-base fs-5">訊息</p>
    </a>

    <!-- 首頁 -->
    <a
      href="index.html"
      class="d-flex flex-column align-items-center nav-item-home"
    >
      <img src="../assets/images/bottom-tab-icon-home.svg" alt="" />
      <p class="lh-base fs-5">首頁</p>
    </a>

    <!-- 我的 -->
    <a
      href="profile.html"
      class="d-flex flex-column align-items-center nav-item-profile"
    >
      <img src="../assets/images/bottom-tab-icon-member.svg" alt="" />
      <p class="lh-base fs-5">我的</p>
    </a>
  </nav>
</footer>
