<!-- Google icon -->
<link
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
  rel="stylesheet"
/>

<header class="custom-header">
  <div class="header-left">
    <button class="back-btn" onclick="history.back()">
      <svg width="24" height="24" viewBox="0 0 24 24">
        <path d="M15 6L9 12L15 18" stroke="#333" stroke-width="2" fill="none" />
      </svg>
    </button>
  </div>

  <div class="header-title zh-h5">掛號</div>

  <div class="header-right">
    <div class="header-avatar"></div>
  </div>
</header>
