@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import "../../node_modules/bootstrap/scss/functions";
@import "./utils/variables";
@import "../../node_modules/bootstrap";

@import "./utils/utilities";
@import "./utils/typography";
@import "bootstrap/scss/utilities/api";

@import "../scss/base/base";
@import "./layout/header.scss";
@import "./layout/footer.scss";

@import "./pages/index.scss";
@import "./pages/profile.scss";
@import "./pages/ai-triage.scss";
@import "./pages/action.scss";
